p {
  font-size: 1.5rem;
}

a {
  color: #a58faa;
}

.navbar-title {
  font-size: 3rem;
  padding-left: 2rem;
  text-align: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  width: 100%;
  height: 5rem;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #907fa4;
  color: #ededd0;
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #a58faa;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
  padding: 0 15%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ededd0;
  color: #907fa4;
  -webkit-box-shadow: inset 0px 0px 20px #a58faa;
          box-shadow: inset 0px 0px 20px #a58faa;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 15%;
}

.accordion {
  background-color: #ededd0;
  color: #907fa4;
  -webkit-box-shadow: inset 0px 0px 20px #a58faa;
          box-shadow: inset 0px 0px 20px #a58faa;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
  font: inherit;
  font-size: 3rem;
  border: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.accordion .caret {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 4rem;
  height: 4rem;
  -webkit-mask: url(../assets/caret.svg) no-repeat 50% 50%;
          mask: url(../assets/caret.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #907fa4;
}

.active,
.accordion:hover {
  font-weight: bold;
  color: #a58faa;
}

.active .caret {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: #a6d6d6;
}

.panel {
  background-color: #ededd0;
  color: #907fa4;
  -webkit-box-shadow: inset 0px 0px 20px #a58faa;
          box-shadow: inset 0px 0px 20px #a58faa;
  border-radius: 50px;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.panel li {
  font-size: 1.75rem;
}

.panel li p {
  margin-top: 0.3rem;
}

.panel li code {
  font-size: 1rem;
}

.panel li a {
  font-weight: bold;
}

footer {
  background-color: #907fa4;
  color: #ededd0;
  padding: 1rem;
}

footer p {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */