.accordion {
  background-color: rgb(60, 60, 60);
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
  
.active, .accordion:hover {
  background-color: #777;
  color: white;
  font-weight: bold;
}

.panel {
  padding: 0 18px;
  background-color: rgb(80, 80, 80);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

a {
  text-decoration: underline;
  color: lightcyan;
}

code {
  color: whitesmoke;
  background-color: rgb(150, 150, 150);
}

body, head {
  background-color: #444;
  font-family: 'Rubik', sans-serif;
}

p {
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
}

h2 {
  color: lightpink;
}

footer {
  text-align: left;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #222;
  left: 0px;
  height: 5%;
}

footer p {
  padding-left: 10px;
}