$primary: #907fa4;
$secondary: #a58faa;
$tertiary: #ededd0;
$highlight: #a6d6d6;

.navbar-title {
    font-size: 3rem;
    font-family: Rubik;

    text-align: center;
}

.navbar {
    width: 100%;
    height: 5rem;
    padding: 0 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: $primary;
    color: $tertiary;
}

body {
    margin: 0;
}

.body {
    flex-direction: column;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-weight: 400;

    background-color: $secondary;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;

    color: $primary;
    background-color: $tertiary;
    text-align: center;
    justify-content: center;

    box-shadow: inset 0px 0px 20px $secondary;
}
